.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  display: block;
  color: #332200;
  font: 600 1.875rem "Poppins", Arial, sans-serif;
  box-sizing: border-box;
  padding: 16px 30px;
  background: var(--c07);
  border-radius: 100px;
  box-shadow: 0px 2px 1px rgba(50, 39, 9, 0.25);
  width: max-content;
  transition: .1s;
  grid-column: 1/-1;
}
.button:hover {
  background: #332200;
  color: var(--c07);
}
