:root {
  --c00: #e9eff2;
  --c01: #f2f2f2;
  --c02: #1f1f1f;
  --c03: #393e46;
  --c04: #222831;
  --c05: #070808;
  --c06: #ffd369;
  --c07: #fcc42c;

}

.cor-00 {
  color: var(--c00);
}
.cor-01 {
  color: var(--c01);
}
.cor-02 {
  color: var(--c02);
}
.cor-03 {
  color: var(--c03);
}