.vantagens-bg {
  background: var(--c05);
}
.vantagens-lista {
  font: 400 1.125rem/1 "Poppins", Arial, sans-serif;
  color: var(--c01);
}
.vantagens-title {
  font: 500 3.25rem/1 "Poppins", Arial, sans-serif;
  color: var(--c00);
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}
.vantagens-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vantagens-lista ul {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.vantagens-lista li {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--c07);
  border-radius: 5px;
  box-shadow: 0px 2px 2px var(--c07);
  width: 380px;
  height: 100px;
}
.vantagens-lista p {
  max-width: 30ch;
}

@media (max-width: 1169px) {
  .vantagens-lista li {
    width: 250px;
  }
}
@media (max-width: 960px) {
  .vantagens-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
  .vantagens-title {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .vantagens-img {
    display: none;
  }
}
@media (max-width: 560px) {
  .vantagens-lista ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}