.header-bg {
  background: var(--c02);
  padding: 10px;
}
.menu {
  border-bottom: 1px solid var(--c04);
  padding-bottom: 1rem;
}
.menu-img {
  max-width: 200px;
  padding-top: 1.25rem;
}

.main-bg {
  background: url('../../img/onda.svg') var(--c02) no-repeat bottom;
  background-size: cover;
}
.main-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 120px;
  align-items: center;
} 
.main-conteudo h1 {
  font: 600 2.5rem/1.2 "Poppins", Arial, sans-serif;
  color: var(--c00);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-conteudo p {
  font: 400 1.5rem/1.4 "Poppins", Arial, sans-serif;
  margin-top: 1rem;
  color: var(--c00)
}
.main-video iframe {
  border-radius: 10px;
}
.main-button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

@media (max-width: 960px) {
  .main-conteudo {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }
  .main-conteudo h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 780px) {
  .main-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .main-conteudo iframe {
    width: 450px;
  }
  .main-conteudo h1 {
    font: 600 2.5rem/1 "Poppins", Arial, sans-serif;
  }
  .main-conteudo p {
    font: 400 1.25rem "Poppins", Arial, sans-serif;
  }
  .main-button {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .main-button a {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .main-conteudo iframe {
    max-width: 300px;
  }
}