.header-bg {
  background: var(--c05);
  padding: 10px;
}
.menu-img {
  max-width: 200px;
  padding-top: 1.25rem;
}

.main-bg {
  background: url('../../img/onda.svg') var(--c05) no-repeat bottom;
}
.main-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 120px;
  align-items: center;
} 
.main-conteudo h1 {
  font: 600 3.25rem/1 "Poppins", Arial, sans-serif;
  color: var(--c00);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-conteudo h2 {
  font: 400 2rem/1 "Poppins", Arial, sans-serif;
  color: var(--c00);
  margin-bottom: 30px;
}
.main-conteudo p {
  font: 400 1.5rem "Poppins", Arial, sans-serif;
  margin-top: 1rem;
  color: var(--c00)
}
.main-video iframe {
  border-radius: 10px;
}
.main-button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

@media (max-width: 960px) {
  .main-conteudo {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (max-width: 750px) {
  .main-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-conteudo iframe {
    width: 400px;
  }
  .main-conteudo h1 {
    font: 600 2.5rem/1 "Poppins", Arial, sans-serif;
  }
  .main-conteudo h2 {
    font: 400 1.5rem/1 "Poppins", Arial, sans-serif;
  }
  .main-conteudo p {
    font: 400 1rem "Poppins", Arial, sans-serif;
  }
  .main-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}