.cases-bg {
  background: var(--c00);
}
.cases-conteudo {
  padding-top: 80px;
  padding-bottom: 80px;
}
.cases-conteudo h2 {
  font: 500 3.25rem/1 "Poppins", Arial, sans-serif;
  color: var(--c02);
  text-align: center;
  padding-bottom: 60px;
}
.cases-depo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.cases-video {
  padding-bottom: 60px;
}
.cases-video iframe {
  border-radius: 5px;
}

@media (max-width:1180px){
  .cases-video iframe {
    width: 450px;
  }
}
@media (max-width: 960px) {
  .cases-conteudo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cases-conteudo h2 {
    font: 500 2.5rem/1 "Poppins", Arial, sans-serif;
    color: var(--c02);
    text-align: center;
    padding-bottom: 40px;
  }
  .cases-depo {
    grid-template-columns: 1fr;
  }
  .cases-video {
    padding-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .cases-conteudo h2 {
    font: 500 1.8rem/1 "Poppins", Arial, sans-serif;
    color: var(--c02);
    text-align: center;
    padding-bottom: 40px;
  }
  .cases-video iframe {
    max-width: 300px;
    height: 200px;
  }
}
